name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-gitRunner_vpc_reserve_fleet-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World"
